.form-task {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000;
}

.form-task label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-task input[type="text"],
.form-task input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-task .dropzone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.form-task button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-task button:hover {
  background-color: #45a049;
}

.card {
  flex-basis: calc(20% - 16px);
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.userInfo {
  padding: 16px;
}

.userImage {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.userName {
  margin-top: 8px;
  font-weight: bold;
}

.userInfoText {
  margin-top: 4px;
  color: #666;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 4px;
}

.pagination a {
  text-decoration: none;
  color: #000;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: blue;
}

.pagination .previous,
.pagination .next {
  font-weight: bold;
}

.btnStyle {
  background-color: #4caf50;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  margin-top: 20px;
}

.updateButton {
  background-color: #f39c12;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.deleteButton {
  background-color: #e74c3c;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.updateTitle {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}
